{% extends 'base.html.twig' %}

{% block title %}UCAD - EDMI{% endblock %}

{% block body %}
    {{ include('fragments/_nav.html.twig') }}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Démarrer la demande d'admission à l'école doctorale math et informatique de l'UCAD</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">Cliquez ci-dessous afin de commencer. </h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Commencez</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{{ asset('img/hero-img.png') }}" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">


    </main><!-- End #main -->
    {{ include('fragments/_footer.html.twig') }}
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
